<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:cache="http://www.springframework.org/schema/cache" xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-4.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
     http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd">
     
     <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:config-daily-release.properties</value>
			</list>
		</property>
		<property name="fileEncoding"  value="UTF-8" />
	</bean>
	<bean id="derbyDS" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close" abstract="false" scope="singleton" lazy-init="false">  
         <!-- 数据库基本信息配置 -->
         <property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver" />  
	    <property name="url"  value="jdbc:derby:${derby.db_path};create=true" />  
	    <property name="maxActive" value="20" />
		<property name="initialSize" value="3" />
		<property name="maxWait" value="60000" />
		<property name="minIdle" value="1" />
		<property name="timeBetweenEvictionRunsMillis" value="60000" />
		<property name="minEvictableIdleTimeMillis" value="300000" />
		<property name="testWhileIdle" value="true" />
		<property name="testOnBorrow" value="false" />
		<property name="testOnReturn" value="false" />
		<property name="poolPreparedStatements" value="true" />
		<property name="maxOpenPreparedStatements" value="20" />
    </bean>  
	<bean id="toccZTYXQKExtractService" class="com.promisepb.tools.daily.service.impl.TOCCZTYXQKExtractServiceImpl"  init-method="startWeatherMessageExtract">
		<property name="ftpIP" value="${ftp.ip}" />
		<property name="ftpPort" value="${ftp.port}" />
		<property name="ftpUserName" value="${ftp.username}" />
		<property name="ftpPasswd" value="${ftp.passwd}" />
		<property name="ftpControlEncoding" value="${ftp.controlEncoding}" />
		<property name="ftpZTYXQKDir" value="${ftp.ztyxqk.dir}" />
		<property name="downLoadZTYXQKDir" value="${download.ztyxqk.dir}" />
		<property name="derbyDS"  ref="derbyDS" />
	</bean>
</beans>